.logo img{
    height: 20px;
}
.navbar {
    display: flex;
    justify-content: space-between; 
    padding: 15px 80px;
    border-bottom: 1px solid #eee;
    height: 60px;
}
.nav-links ul{
    display: flex;
    list-style: none;
    padding: 0%;
    margin: 0%;
}
.nav-links li{
    margin-left: 20px;
}
.nav-links a{
    text-decoration: none;
    color: #777B7E;
    font-size: 17px;
}
.nav-links a:hover{
    color:aqua;
}
.product img{
    height: 525px;
}
.cta-container{
    text-align: center;
    padding: 10px;
    background-color: rgb(0, 179, 255);
    width: 100px;
    align-items: center;
    justify-content: center;
}
.text{
    text-align: center;
    size: 20px;
}
.cta-button{
    width: 50px;
    height: 7px;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}
.paras{
    color: rgb(112, 109, 109);
    margin-left: 50px;
    float: left;
}
.paras a{
    text-decoration: none;
}
.ecosystem-diagram img{
    width: 550px;
    height: 550px;
    float: right;
}
.press-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 620px;
}
.random{
    color: rgb(112, 109, 109);
    margin-left: 50px;
    float: left;
}
.pricing img{
    width: 600px;
    height: 80px;
    float: right;
}
.varsity img{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 1600px;
    left: 150px;
}
.free{
    color: rgb(112, 109, 109);
    float: right;
}
.free a{
    text-decoration: none;
}